In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
df=pd.read_csv('bangalore house price prediction cleaned.csv')

In [6]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df.isnull().sum().sum()

0

In [8]:
X=df.drop('price', axis=1)
X.head()

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,1672.0,3,8971.291866,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,1750.0,3,8514.285714,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,1750.0,3,8571.428571,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,1250.0,2,3200.000000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,1200.0,2,6916.666667,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
y=df['price']
y.head()

0    150.0
1    149.0
2    150.0
3     40.0
4     83.0
Name: price, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=2000)

In [12]:
from sklearn.ensemble import RandomForestRegressor

In [13]:
RFR=RandomForestRegressor(n_estimators=41,criterion='mse',)

In [14]:
RFR.fit(X_train, y_train)

RandomForestRegressor(n_estimators=41)

In [15]:
RFR.score(X_test,y_test)

0.9822927816988867

In [16]:
y_pred=RFR.predict(X_test)

In [19]:
[y_pred]

[array([135.48780488,  47.86780488, 119.73170732, ...,  66.96756098,
         55.74560976,  60.93317073])]

In [18]:
y_test

3888    135.00
2827     48.00
167     120.00
6163     28.00
1929     55.00
         ...
1133     62.00
4990     58.00
1709     66.78
5320     55.78
5835     60.80
Name: price, Length: 1068, dtype: float64

In [20]:
from sklearn.metrics import accuracy_score,mean_absolute_error,mean_squared_error

In [25]:
print('mean absolute error is',mean_absolute_error(y_test,y_pred))

mean absolute error is 1.3721978624280629

In [26]:
print('mean squared error is', mean_squared_error(y_test,y_pred))

mean squared error is 140.9221559721229

In [27]:
print('rootmean squared error is',np.sqrt(mean_squared_error(y_test,y_pred)))

rootmean squared error is 11.87106380962224

In [28]:
comperision=pd.DataFrame(y_pred,y_test, columns=['Predited Prices'])

In [29]:
comperision

        Predited Prices
price
135.00       135.487805
48.00         47.867805
120.00       119.731707
28.00         28.004634
55.00         54.975610
...                 ...
62.00         61.872683
58.00         57.706829
66.78         66.967561
55.78         55.745610
60.80         60.933171

[1068 rows x 1 columns]